<nav>
  <ul class="nav nav-pills bg-dark">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
   
    <% if (locals.user){ %>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Blog</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Firdoush</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/user/logout">Log Out</a></li>
        </ul>
      </li>
    <% }
    else{%>
      <li class="nav-item">
        <a class="nav-link" href="/user/signup">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/signin">Signin</a>
      </li>
      <% } %>
  </ul>
</nav>

<!-- Corrected EJS block -->
<% if (locals.error) { %>
  <div class="alert alert-danger" role="alert">
    <%= locals.error %>
  </div>
<% } %> 
